[Unit]
Description=robot image install service

[Service]
ExecStart=/bin/bash /install/reebotic_install/reebotic.sh

[Install]
WantedBy=multi-user.target